* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

:root {
  box-sizing: border-box; }

body {
  font-family: "Overpass", sans-serif; }

h1 {
  font-family: "Ubuntu", sans-serif; }

h2 {
  font-family: "Ubuntu", sans-serif; }

h3 {
  font-family: "Ubuntu", sans-serif; }

h4 {
  font-family: "Ubuntu", sans-serif; }

h5 {
  font-family: "Ubuntu", sans-serif; }
