footer {
  background-color: $very-dark-black-blue;

  color: $white;
  font-family: 'Ubuntu', sans-serif;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;

  padding: 5rem 12rem 2rem 4rem;
  border-top-right-radius: 5rem;

  @for $var from 1 through 3 {
    .col-#{$var} {
      display: flex;
      flex-direction: column;
    }
  }

  h4 {
    margin-bottom: 2rem;
  }

  a {
    color: $grayish-blue;
    margin-bottom: 0.5rem;
    text-decoration: none;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
