.header {
  color: $white;
  text-align: center;

  padding: 3rem 8rem;
  padding-bottom: 8rem;

  background-image: url('../assets/bg-pattern-intro.svg'),
    linear-gradient(
      to bottom right,
      $gradient-very-light-red,
      $gradient-light-red
    );
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: border-box;
  background-position: 50% 40%;

  border-bottom-left-radius: 5rem;

  @include phone-styles {
    padding: 3rem 2rem;
    padding-bottom: 8rem;

    background-position: 50% 40%;
    border-bottom-right-radius: 0;
  }

  &__title {
    font-size: 3rem;
    margin-bottom: 1rem;

    @include phone-styles {
      font-size: 2.2rem;
    }
  }

  &__subtitle {
    font-family: 'Overpass', sans-serif;
    margin-bottom: 2.5rem;
  }

  // Add spacing between the buttons.
  .btn {
    margin: 0 0.5rem;
  }
}
