.nav {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;

  &__logo {
    margin-right: 4rem;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > * {
      margin-right: 2rem;
    }

    @include phone-styles {
      display: none;
    }
  }

  .btn {
    @include phone-styles {
      display: none;
    }

    &--primary {
      padding: 0.7rem 2rem;
    }

    &--secondary {
      margin-left: auto;
    }
  }
}
