.nav {
  display: flex;
  align-items: center;
  margin-bottom: 5rem;

  &__logo {
    margin-right: 3rem;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
     & > * {
       margin-right: 2rem;
     }
  }

  .btn--secondary {
    margin-left: auto;
  }
}
