.btn {
  background-color: transparent;
  border: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  cursor: pointer;

  &--primary {
    background-color: $white;
    color: $light-red;

    &:hover {
      background-color: $very-light-red;
      color: $white;
    }
  }

  &--secondary {
    color: $white;
  }

  &--outline {
    border: 1px solid $white;

    &:hover {
      background-color: $white;
      color: $light-red;
    }
  }
}
