body {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2rem;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Overpass', sans-serif;
    line-height: 1.3;
  }
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
