.section-infrastructure {
  background-image: url('../assets/bg-pattern-circles.svg'),
    linear-gradient(
      to right,
      $gradient-very-dark-gray-blue,
      $gradient-very-dark-desaturated-blue
    );
  background-repeat: no-repeat;
  background-position: -80% 85%;

  border-bottom-left-radius: 6rem;
  border-top-right-radius: 6rem;

  color: $white;
  display: flex;
  align-items: center;
  padding: 0 6rem;

  @include phone-styles {
    background-position: -6rem -60%;
    background-size: 150%;

    flex-direction: column;

    padding: 0 3rem;
    padding-bottom: 8rem;

    text-align: center;
  }

  .section__image {
    height: 25rem;
    margin: 0 7rem;

    @include phone-styles {
      height: 15rem;
      margin: 0;
      margin-bottom: 2rem;
    }

    img {
      height: 100%;
      transform: scale(1.5);

      @include phone-styles {
        transform: scale(1.5) translateY(-2.5rem);
      }
    }
  }

  .section__features {
    h2 {
      margin-bottom: 3rem;
    }
  }
}
