.section-laptop {
  display: flex;
  color: $very-dark-blue;
  padding: 0 7rem;
  margin-bottom: 12rem;

  @include phone-styles {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 2rem;
    overflow-x: hidden;
  }

  .section__image {
    height: 30rem;

    @include phone-styles {
      height: auto;
      margin: 5rem 0;
    }

    img {
      max-width: 100%;
      height: auto;
      transform: scale(1.5) translateX(-9rem);

      @include phone-styles {
        transform: scale(1.7) translateX(0);
      }
    }
  }

  .section__features {
    padding-top: 4rem;
    width: 50%;

    @include phone-styles {
      width: 100%;
      text-align: center;
    }

    h3 {
      margin-bottom: 1.5rem;
    }

    p {
      font-weight: 400;
      color: $very-dark-grayish-blue;

      &:not(:last-of-type) {
        margin-bottom: 4rem;
      }
    }
  }
}
